<div class="container-fluid" style="padding-right: 0px">
<!-- <div class="col-md-3" id="facetBox">
<div ng-include src="'views/partials/facets.partial.html'"></div>
</div> -->

    <accordion close-others="false">
    <accordion-group ng-init="open=true;disabled=true" is-open="open" is-disabled="disabled">
      <accordion-heading>
      <b>{{totalItems}} Bugs</b>
      </accordion-heading>
    <div class="table-responsive">
        <table class="table table-striped table-condensed pull-left">

      <!--
            search box on every column

             <thead>
                <tr>
                    <th>
                        <input type="text" class="form-control" placeholder="id">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="severity">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="priority">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="submitted by">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="category">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="version">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="fix in">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="title">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="status">
                    </th>
                    <th>
                        <input type="text" class="form-control" placeholder="assigned to">
                    </th>
                </tr>
            </thead> -->

            <thead>
                <tr ng-init="reverse=false">
                    <th><a href="" ng-click="reverse=!reverse; order('id', reverse)">Id</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('severity', reverse)">Severity</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('priority.level', reverse)">Priority</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('submittedBy.username', reverse)">Submitted by</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('category', reverse)">Category</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('version', reverse)">Version</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('tofixin', reverse)">Fix in</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('title', reverse)">Title</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('status', reverse)">Status</a>
                    </th>
                    <th><a href="" ng-click="reverse=!reverse; order('assignTo.username', reverse)">Assigned to</a>
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="bug in bugs">
                <td><a ng-href="#/bug/{{bug.id}}">{{bug.id}}</a>
                </td>
                <td style="width:120px">{{bug.severity}}</td>
                <td><a class="tooltips" href>{{bug.priority.level}}<span>{{bug.priority.title}}</span></a>
                </td>
                <td style="width:200px">{{bug.submittedBy.username}}</td>
                <td>{{bug.category}}</td>
                <td style="width:70px">{{bug.version}}</td>
                <td style="width:70px">{{bug.tofixin}}</td>
                <td style="width:500px">{{bug.title}}</td>
                <td>{{bug.status}}</td>
                <td style="width:200px">{{bug.assignTo.username}}</td>
            </tr>
        </table>
        </div>

    </accordion-group>
</accordion>
<div class="container-fluid text-center">
<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="setPage(currentPage)" ng-hide="totalItems <= itemsPerPage"></pagination>
</div>
</div>






