<div class="box box-solid box-primary" ng-controller="facetCtrl">
    <div class="box-header">
        <h3 class="box-title">Filter</h3>
        <div class="box-tools pull-right">
   <button class="btn btn-primary btn-xs" data-widget="collapse" tooltip="minimize" id="facetClose">
   <i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body">
        <ul ng-repeat="(facetKind, facetType) in facetList" class="list-unstyled">
            <li><b>{{facetKind | uppercase }} ({{facetType.facetValues.length}})</b>
            </li>
            <ul ng-repeat="(key, facet) in facetType.facetValues" class="list-unstyled">
                <a href="" ng-click="filter(facetKind, facet)">
                    <li style="margin-left: 10px">{{facet.name}}
                    <span class="badge bg-olive pull-right">{{facet.count}}</span>
                </li>    
                </a>
            </ul>
        </ul>
    </div>
    <!-- /.box-body -->
</div>
