<div class="navbar navbar-default navbar-static-top">
    <div class="collapse navbar-collapse main-nav">
        <ul class="nav navbar-nav">
            <li> 
                <a href="#/home">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;Home</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="active">
                <a href="#/dashboard">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;Dashboard</a>
            </li>
            <li class="divider-vertical"></li>

            <li>
                <a href="#/new">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New Bug</a>
                </a>
            </li>
            <li class="divider-vertical"></li>
            <li class="pull-right">
                <a href="#/config">
                    <span class="glyphicon glyphicon-cog"></span>&nbsp;Configure</a>
            </li>
        </ul>
    </div>
</div>
