<div class="row">
</div>
<div class="col-md-3 pull-left">
    <div class="panel panel-info">
        <div class="panel-heading" style="height: 40px">
            <div class="pull-left">
            <h3 class="panel-title">
<i class="fa fa-bug"></i>
            <a ng-href="#/bug/{{bug.id}}">{{bug.kind}} -  {{bug.id}}</a>
            </h3>    
            </div>
            

            <div class="pull-right" ng-show="showSubscribe">
           <a class="pointer"  tooltip="Subscribe" ng-click="subscribe()">
           <span class="glyphicon glyphicon-star-empty"></span> 
           </a>
            </div>
            <div class="pull-right" ng-show="showUnsubscribe">
           <a class="pointer" tooltip="Unsubscribe"  ng-click="unsubscribe()">
            <span class="glyphicon glyphicon-star"></span> 
           </a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <td colspan="" rowspan=""><b>Status</b>
                    </td>
                    <!-- 
  <td colspan="" rowspan="" ng-model="status" editable-select="bug.status" e-ng-options="s as s for s in config.status" onbeforesave="updateStatus($data)">{{bug.status}}</td>
  -->
                    <td>
                        <select id="status" ng-model="status" name="status" type="text" class="form-control input-sm">
                            <option ng-repeat="status in config.status.sort()" ng-selected="status === bug.status" value="{{status}}">
                                {{status}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Severity</b>
                    </td>
                    <!-- <td colspan="" rowspan="" editable-select="bug.severity" e-ng-options="s as s for s in config.severity">{{bug.severity}}</td> -->
                    <td>
                        <select id="status" ng-model="severity" name="severity" type="text" class="form-control input-sm">
                            <option ng-repeat="severity in config.severity.sort()" ng-selected="severity === bug.severity" value="{{severity}}">
                                {{severity}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Category</b>
                    </td>
                    <!--    <td colspan="" rowspan="" editable-select="bug.category" e-ng-options="c as c for c in config.categories">{{bug.category}}</td>
    -->
                    <td>
                        <select id="category" ng-model="category" name="category" type="text" class="form-control input-sm">
                            <option ng-repeat="category in config.category.sort()" ng-selected="category === bug.category" value="{{category}}">
                                {{category}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Priority</b>
                    </td>
                    <!-- <td colspan="" rowspan="" editable-select="bug.priority" e-ng-options="p.level as p.title for p in config.priority">{{bug.priority}}</td> -->
                    <td>
                        <select id="priority" ng-model="priority" name="priority" type="text" class="form-control input-sm">
                            <option ng-repeat="priority in config.priority" ng-selected="priority.level === bug.priority.level" value="{{priority}}">
                                {{priority.level}} - {{priority.title}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Version</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="version" ng-model="version" name="version" type="text" class="form-control input-sm">
                            <option ng-repeat="version in config.version.sort()" ng-selected="version == bug.version" value="{{version}}">
                                {{version}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Platform</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="platform" ng-model="platform" name="platform" type="text" class="form-control input-sm">
                            <option ng-repeat="platform in config.platform.sort()" ng-selected="platform == bug.platform" value="{{platform}}">
                                {{platform}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>To fix in</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="tofixin" ng-model="tofixin" name="tofixin" type="text" class="form-control input-sm">
                            <option ng-repeat="tofixin in config.tofixin.sort()" ng-selected="tofixin == bug.tofixin" value="{{tofixin}}">
                                {{tofixin}}</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Fixed in</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="fixedin" ng-model="fixedin" name="fixedin" type="text" class="form-control input-sm">
                            <option ng-repeat="fixedin in config.tofixin.sort()" ng-selected="fixedin === bug.fixedin" value="{{fixedin}}">
                                {{fixedin}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Assigned To</b>
                    </td>
                    <td colspan="" rowspan="">
                        <select id="assignTo" ng-model="assignTo" name="assignTo" type="text" class="form-control input-sm">
                            <option ng-repeat="assignTo in config.users" ng-selected="assignTo.name === bug.assignTo.name" value="{{assignTo}}">
                                {{assignTo.name}}
                            </option>
                           <!--  <option ng-repeat="assignTo in config.users" ng-selected="bug.assignTo.name" value="{{assignTo}}">
                                {{assignTo.name}}
                            </option> -->
                        </select>
                    </td>
                </tr>
                <tr ng-show="bug.memory">
                    <td colspan="" rowspan=""><b>Memory Size</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.memory}}</td>
                </tr>
                <tr ng-show="bug.resolvedAt">
                    <td colspan="" rowspan=""><b>Resolved on</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.resolvedAt}}</td>
                </tr>
                <tr ng-show="bug.testedAt">
                    <td colspan="" rowspan=""><b>Tested on</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.resolvedAt}}</td>
                    <!-- same as resolved date -->
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Reported on</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.createdAt}}</td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Subscribers</b>
                    </td>
                    <td colspan="" rowspan=""><ul ng-repeat="subscriber in bug.subscribers">{{subscriber.name}}</ul></td>
                </tr>
                <tr>
                    <td colspan="" rowspan=""><b>Reported by</b>
                    </td>
                    <td colspan="" rowspan="">{{bug.submittedBy.name}}</td>
                </tr>
            </table>
            <span class="label label-default">Related bugs</span>
            <div class="alert alert-warning">
                 <table class="table">
                <tr ng-show="bug.cloneOf">
                    <td colspan="" rowspan=""><b>Clone of</b>
                    </td>
                    <td colspan="" rowspan=""><a ng-href="#/bug/{{bug.cloneOf}}">{{bug.cloneOf}}</a>
                    </td>
                </tr>
                <tr ng-hide="bug.cloneOf">
                    <td colspan="" rowspan=""><b>Clones</b>
                    </td>
                    <td colspan="" rowspan="">
                        <ul ng-repeat="clone in bug.clones" class="list-inline" style="display: inline-block;">
                            <li><a ng-href="#/bug/{{clone}}"><span class="label label-success">{{clone}}</span></a>
                            </li>
                        </ul>
                         <a class="btn btn-sm btn-warning" ng-href="" ng-click="clone(bug.id)"><span class="glyphicon glyphicon-refresh"></span> Clone</a>
                    </td>
                </tr>
            </table>
            </div>
         
        </div>
    </div>
</div>
<!-- bug details  -->
<div class="col-md-9">
 <div class="panel panel-default">
    <div class="panel-heading"><b>{{bug.title}}</b></div>
      <div class="panel-body">
              <div class="col-md-3 pull-right" ng-show="bug.attachments">
    <div class="box box-success">
    <div class="box-header">
        <div class="box-tools pull-left">
            <div class="label bg-green"><span class="glyphicon glyphicon-file"></span> Attachments</div>
        </div>
    </div>
    <div class="box-body">
        <ul ng-repeat="file in attachments track by $index" class="list-unstyled">
            <li><a ng-href="/v1/documents?uri={{file.uri}}" target="_window">{{file.name}}</a>
            </li>
        </ul>

    </div>
    <!-- /.box-body -->
  </div>
</div>
      <p ng-bind-html="bug.description"></p>

            <div ng-show="bug.note">
                <p>
                    <h6>Note:</h6>
                    <span class="glyphicon glyphicon-info-sign"> Note:</span> <blockquote style="border-left-color: #d9534f;"> {{bug.note}} </blockquote>
                </p>
            </div>

            <div ng-show="bug.samplequery">
                <legend>
                  <h5><span class="glyphicon glyphicon-pencil"></span>  Sample Query</span></h5>
                </legend>
                {{bug.samplequery}}  
            </div>
            <div ng-show="bug.sampledata">
                <legend>
                    <h5><span class="glyphicon glyphicon-align-justify"></span>  Sample Data</span></h5>
                </legend>
              {{bug.sampledata}}
            </div>
            <div ng-show="bug.stacktrace">
                <legend>
                   <h5><span class="glyphicon glyphicon-file"></span>  Error Stacktrace</span></h5>
                </legend>
                <div style="overflow: auto; max-height:500px;">
                    <pre>{{bug.stacktrace}}</pre>
                    <p class="gist">{{bug.stacktrace}}</p>
                </div>
            </div>
      </div>
</div>


  <div class="panel panel-default" ng-repeat="item in bug.changeHistory">
    <div class="panel-heading">
         <img alt="user pic" src="images/avatar.png" class="img-circle img-responsive" style="height: 3em;width: 3em; float:left;margin-right: 5px;">
   <b>{{item.updatedBy.name}}</b><p class="pull-right" style="font-size: 12px;font-weight: 400;">{{item.time}}</p>   
    </div>
      <div class="panel-body">
      <ul ng-repeat="(key, value) in item.change" class="list-unstyled">
                <li ng-hide="value.to.name">
                    {{key}} changed
                    <span ng-hide="value.from===undefined">from {{value.from}}</span> to
                    <span class="label label-success">{{value.to}}</span>
                </li>
                <li ng-show="value.to.name">{{key}} changed
                    <span ng-hide="value.from===undefined">from {{value.from.name}}</span> to
                    <span class="label label-success">{{value.to.name}}</span>
                </li>
            </ul>    
            <p ng-show="item.comment" ng-bind-html="item.comment"></p>

      </div>
  </div>




<!-- <div class="col-md-3"></div> -->
<div class="container pull-left">
<div class="row">
  <div class="col-md-1">
  <a href="" class="tooltips"> <span>{{updatedBy.name}}</span>
    <img alt="user pic" src="images/avatar.png" class="img-circle tooltips" style="height: 3em;width: 3em;">
  </a>
  </div>
  <!-- second method -->
<div class="row col-md-8">
<form name="commentForm">
     <textarea rich-text-editor  class="form-control"  ng-model="newcomment" id="newcomment" name="newcomment" placeholder="Add a comment here..." rows="8" cols="100%"></textarea>
       <br>
     <input type="file" file-upload multiple/>
     <ul>
        <li ng-repeat="file in files">{{file.name}}</li>
    </ul> 
    <button ng-click="updateBug()" id="updatebug" name="updatebug" class="btn btn-primary btn-danger">Update</button>
</form>    
</div>
</div>
</div>
</div>